* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-judul {
    margin-top: 20px;
}

.judul h1 {
    padding: 30px;
    color: #fff;
}

.container-sejarah {
    width: 80%;
    margin: 0 0 3.5rem 8rem;
    background-color: rgb(137, 144, 182);
    padding: 20px;
    border-radius: 30px;
    flex-direction: row;
    display: flexbox;
    grid-template-columns: 1fr 1fr;
    box-shadow: 5px 5px rgb(27, 78, 146);
}



.title, .deskripsi, .baris-baru {
    text-align: center;
    
}

@media (max-width: 768px) {
    .container-sejarah {
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
        /* margin: 0 0 3rem 5rem ; */
    }

    .deskripsi, .baris-baru {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .container-sejarah {
        width: 60%;
        margin: auto;
        margin-bottom: 30px;
        /* margin: 0 0 1.5rem 6.5rem; */
    }

    .deskripsi, .baris-baru {
        font-size: 13px;
    }
}
